@import '../base/colors';

#progress-tournaments {
	.progress-tournaments {
		display: flex;
		& > div {
			width: 50%;
		}
		&:nth-child(1) {
			.progress-tournaments-heading {
				font-size: 56px;
				font-family: Syne;
				line-height: 69px;
			}
			.progress-tournaments-description {
				opacity: 0.6;
				line-height: 28px;
				max-width: 580px;
			}
			.browse-all-games {
				background-color: $secondary-color;
				padding: 9px 48px 9px 32px;
				font-size: 20px;
				line-height: 32px;
				color: #eeeeee;
				margin-top: 40px;
				border: none;
				&:active {
					scale: 0.95;
					transition: 0.4s;
				}
			}
		}
		.progress-tournaments-images {
			display: flex;
			align-items: center;
			gap: 13px;
			.first-tournament-image {
				position: relative;
				&::before {
					content: "";
					display: inline-block;
					width: 208px;
					height: 260px;
					background-color: gray;
					position: absolute;
					z-index: -10;
					left: -9px;
					bottom: -6px;
				}
			}
			.tournament-image {
				position: relative;
				padding-right: 10px;
				&::before {
					content: "";
					display: inline-block;
					width: 184px;
					height: 230px;
					background-color: #343434;
					position: absolute;
					z-index: -10;
					left: -5px;
					bottom: -2px;
				}
			}
		}
	}
}
